<h3>{{Titulo}} <small>{{TituloAccionABMC[AccionABMC]}}</small></h3>
<div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">Id</th>
        <th class="text-center">RazonSocial</th>
        <th class="text-center">Cantidad Empleados</th>
        <th class="text-center">RFecha Fundacion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Items">
        <td>{{item.IdEmpresa}}</td>
        <td>{{item.RazonSocial | uppercase}}</td>
        <td>{{item.CantidadEmpleados}}</td>
        <td>{{item.FechaFundacion }}</td>
      </tr>
    </tbody>
  </table>